.feu{
    background-image: url(../../assets/feu.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
    width: 40px;
}

.CardLancement{
    border-radius: 20px 20px 0px 0px;
    height: 48vh;
    margin: 8px;
}